.ticket {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 150px auto 0;
  border-radius: 10px;
  box-shadow: 2px 2px 15px 0px;
  z-index: 0;
}
.ticket:before,
.ticket:after {
  content: "";
  position: absolute;
  left: 5px;
  height: 6px;
  width:480px;
}
.ticket:before {
  top: -5px;
  background: radial-gradient(
      circle,
      transparent,
      transparent 50%,
      #fbfbfb 50%,
      #fbfbfb 100%
    ) -7px -8px / 16px 16px repeat-x;
}
.ticket:after {
  bottom: -5px;
  background: radial-gradient(
      circle,
      transparent,
      transparent 50%,
      #fbfbfb 50%,
      #fbfbfb 100%
    ) -7px -2px / 16px 16px repeat-x;
}
.ticket-content {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
.ticket-text {
  position: absolute;
  width: 400px;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 2rem;
}

.ticket-text h1 {
  cursor: pointer;
  text-align: center;
}

.ticket-text div {
  padding: 20px;
  text-align: center;
}

.ticket-text p {
  text-align: center;
}

.ticket-img {
  position: absolute;
  opacity: 0.2;
  width: 98%;
  height: 98%;
  top: 5px;
  left: 5px;
  border-radius: 5px;
  z-index: -1;
}

.ticket-qr {
  position: relative;
  width: 40%;
  height: 40%;
  top: 10px;
  right: 100px;
}
@media only screen and (max-width: 500px) {
  .ticket {
    width: 90%;
    margin-right: 0px;
    margin-left: 0px;
  }

  .ticket-text div {
    width: 90%;
  }
  .ticket-text div{
    padding: 0;
  }
  .ticket-qr{
    position: relative;
    width: 60%;
    height: 60%;
    top: 50px;
    right: 60px;
  }
  .ticket-text {
    width: auto;
  }
  .ticket:before,
.ticket:after {
  content: "";
  position: absolute;
  left: 5px;
  height: 6px;
  width:291px;
}
.ticket:before {
  top: -5px;
  background: radial-gradient(
      circle,
      transparent,
      transparent 50%,
      #fbfbfb 50%,
      #fbfbfb 100%
    ) -7px -8px / 16px 16px repeat-x;
}
.ticket:after {
  bottom: -5px;
  background: radial-gradient(
      circle,
      transparent,
      transparent 50%,
      #fbfbfb 50%,
      #fbfbfb 100%
    ) -7px -2px / 16px 16px repeat-x;
}
}