.tableTickets {
    max-height: 300px;
    height: 300px;
    overflow: auto;
    
}
.usedTicket{
    background-color: rgb(23, 212, 149);
}
.TicketRow{
    border-style: solid; 
    border-radius: 5px;
    padding: 5px;
    border-color: rgba(79, 78, 78, 0.869);
}
@media only screen and (max-width: 500px) {

    /* .removeInMobile{
        display:  none;
    }
    .mobileTableCard{
        display: grid;
        grid-template-columns: auto;
    } */

}
