.cardEventsUser{
    background-color: rgba(198, 197, 198, 0.906);
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr  2fr 1fr ;
    transition: 0.3s;

}
.cardEventsUser:hover{
    box-shadow: -1px 1px 5px 2px #00000058;
    transition: 0.3s;
}
.cardEventsUser img{
    width: 150px;
    height: 150px;
    border-radius: 5px;
}
.cardEventsUser .buttomBar{
    position: relative;
    top: 70px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 20px;
}
@media only screen and (max-width: 500px) {
    .cardEventsUser .buttomBar{
        position: relative;
        top: 45px;
        right: 15px;
        display: grid;
        grid-template-columns: auto auto ;
        gap: 0px;
    }
}
