.cardEventsUser{
    background-color: rgba(198, 197, 198, 0.906);
    padding: 5px;
    border-radius: 5px;
    margin-left: 10px;
    display: grid;
    grid-template-columns: 2fr 15fr;
    position: relative;
}
.cardEventsUser img{
    width: 150px;
    height: 150px;
    border-radius: 5px;
}
.cardEventsUser .buttomBar{
    position: absolute;
    bottom: 0px;
    left: 200px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 20px;
}