.cardEventsUser{
    background-color: rgba(198, 197, 198, 0.906);
    padding: 5px;
    border-radius: 5px;
    margin-left: 10px;
    display: grid;
    grid-template-columns: 1fr  2fr 1fr ;

}
.cardEventsUser img{
    width: 150px;
    height: 150px;
    border-radius: 5px;
}
.cardEventsUser .buttomBar{
    position: relative;
    top: 70px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 20px;
}
