.eventSlider {
  display: grid;
  grid-template-columns: 50px auto auto auto 50px;
  grid-template-areas: "sliderButtonPerv sliderEvent1 sliderEvent2 sliderEvent3 sliderButtonNext";
}


.sliderButtonPerv{
    grid-area: sliderButtonPerv;
    padding-top: 150%;
}

.sliderEvent1{
    grid-area: sliderEvent1;
}
.sliderEvent2{
    grid-area: sliderEvent2;
}
.sliderEvent3{
    grid-area: sliderEvent3;
}

.sliderButtonNext{
    grid-area: sliderButtonNext;
    padding-top: 150%;
}
.arrowBT{
    color: white;
    transform: scale(1.8);
    transition: 0.5s;
    
}
.arrowBT:hover{
    transform: scale(2);
    transition: 0.5s;
    
}
/* @media only screen and (max-width: 500px) {
    .eventSlider{
        display: grid;
  grid-template-columns:  auto auto auto auto ;
  grid-template-areas: "sliderButtonPerv sliderEvent1 sliderEvent2 sliderEvent3 sliderButtonNext";

    }

  } */