.loginPage {
  width: 100%;
  height: 100%;
  position: fixed;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.cardLogin a{
text-decoration: none;
}
.cardLogin {
  height: 520px;
  width: 400px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 55%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(28, 22, 22, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}
.cardLogin * {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
.cardLogin p{
  position: relative;
  bottom: 40px;
  left: 30px;
}
.cardLogin h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.cardLogin label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
.cardLogin input {
  display: block;
  height: 50px;
  width: 100%;
  background-color:#FFB900;
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
  color: black;
}
::placeholder {
  color: #000000;
}
.cardLogin button {
  margin-top: 50px;
  width: 100%;
  background-color: #FFB900;
  color: black;
  padding: 15px 0;
  font-size: 24px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
.social {
  margin-top: 30px;
  display: flex;
}
.social div {
  background: red;
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(116, 110, 110, 0.297);
  color: #193d7f;
  text-align: center;
}
.social div:hover {
  background-color:#FFB900;
}
.social .fb {
  margin-right: 25px;
}
@media only screen and (max-width: 500px) {
  .cardLogin{
    height: 520px;
    width: 90%;
  } 
}