.event-create .createEvent {
    background-color: rgba(193, 199, 203, 0.592);
    margin-top: 30px;
    width: 90%;
    margin-left: 5%;
    border-radius: 5px;
    padding: 10px;
    position: relative;
}

.event-create img {
    max-height: 300px;
}

.event-create .imgUplodform {
    width: auto;
    height: 200px;
    display:flex;
    border: 4px dashed #fff;
    justify-content: center;
    align-items: center;
    position: relative;
}


.event-create .imgSection {
    display: grid;
    grid-template-columns: auto auto;

}

.imgSection div h4 {
    margin-top: 15px;
}

.createEvent {
    position: relative;
}

.createEvent hr {
    width: 60%;
    text-align: left;
    margin-left: 0;
    margin-bottom: 10px;
}

.createEvent .price {
    position: absolute;

    right: 250px;
    bottom: 90px;
}

 .date{
    left: 250px;
    position: absolute;
}
 .location{
    left: 250px;
    position: absolute;
}


@media only screen and (max-width: 500px) {
    .event-create .createEvent {
        width: 70%;
        margin-top: 0;
        margin-left: 15%;
    }

    .event-create img {
        max-height: 500px;
    }
}

.description-Event {
    line-break: anywhere;
    max-width: 200px;
  }

Button {
    color: var(--purple);
}

img {
    width: 580px;
    height: 180px;
}