.eventCreate {
    position:absolute;
    height: 100%;
    width: 100%;
    display: grid;
    align-content: center;
    font-family: 'Courier New', monospace;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: rgb(67, 126, 133);
}
::placeholder {
    color: black;
    opacity: 1; /* Firefox */
  }
.eventDiv {
    display: grid;
    margin-top: 30px;
    width: 27vh;
    height: 5vh;
    align-content: center;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin-left: 5vh;
    font-family: 'Courier New', monospace;
    font-size:34px;
}

.btn {
    border-radius: 5px;
    text-align: center;
    width: 27vh;
    height: 5vh;
    font-family: 'Courier New', monospace;
    font-weight: bold;
    border: none;
    margin: 1.6rem;
    padding: 1rem;
    color: white;
    background-color:var(--purple);
}