
.buttonRemoveEvent{
    position: relative;
    right:150px;
    top: 5px;
    transition: 1s;
}
.buttonRemoveEvent:hover{
    color: red;
    transition: 0.5s;
}
@media only screen and (max-width: 500px) {
    .buttonRemoveEvent{
        right: 30px;
        top: 5px;
    } 
}