.navBar{
    background-color:var(--blue);
    position: fixed;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 10fr 2fr;
    gap: 10px;
    padding: 5px;

}
.navBar div{
    width:45px;
    height: 45px;
}
.iconsBar{
    color:var(--white);
}
.iconsBar :first-child:hover{
    width:45px;
    height: 45px;
}
.iconsBar :first-child{
    width:40px;
    height: 40px;
}
.headerName{
    color:var(--white);
    margin: 0;
    text-align: center;
}