.navBar{
    background-color:var(--blue);
    position: fixed;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 16fr 2fr 3fr;
    gap: 10px;
    padding: 5px;
    z-index: 1;

}
.navBar div{
    width:45px;
    height: 45px;
}
.iconsBar{
    color:var(--white);
    position: relative;
}
.iconsBar :first-child:hover{
    width:45px;
    height: 45px;
}
.iconsBar :first-child{
    width:40px;
    height: 40px;
}
.headerName{
    color:var(--white);
    margin: 0;
    text-align: center;
}
.loginBt{
    background-color:var(--white);
    border-radius: 5px;
    color: var(--blue);
    margin: 0;
    font-size: 12px;
    padding: 0;
}
.linkSideM{
    color: var(--blue);
    display: grid;
    text-decoration: none;
    
}
.txtLinkM{
    margin-left: 20px;
}
.iconsBar h3{
    color: var(--white);
     position: absolute;
     right: -20px;
    top: 5px; 
}

@media only screen and (max-width: 500px) {
    .iconsBar h3{

         position: static;
         right: 0;
        top: 0; 
    }
  }