img{
    width: 95%;
    height: 95%;
    border-radius: 5px;
}

.eventCard {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: auto;
    grid-template-areas: 
      "header header header header"
      "main main . sidebar"
      "footer footer footer footer";
    background-color: darkgray;
}

