.event-details .cardEventDetails{
    background-color: rgba(193, 199, 203, 0.592);
    margin-top: 90px;
    width: 90%;
    margin-right: 2%;
    border-radius: 5px;
    padding: 10px;
    position: relative;
}
.event-details img{
    max-height: 300px;
}

.event-details .imgSection{
    display: grid;
    grid-template-columns: auto auto;
    padding: 30px 30px 0 0;

}
.imgSection div h4{
    margin-top: 15px;
}
.cardEventDetails{
    position: relative;
}
.cardEventDetails hr{
    width:60%;
    text-align:left;
    margin-left:0;
    margin-bottom: 10px;
}
.cardEventDetails .priceSection{
    /* position: absolute;
    right:100px;
    bottom: 100px;
    width: min-content;
    padding-bottom: 15px; */
    margin-bottom: 20px;
    
    
}
@media only screen and (min-width: 1350px) {
    .event-details .cardEventDetails{
        width: 70%;
        margin-top: 0;
        margin-right: 15%;
    }
    .event-details img{
        max-height: 500px;
    }
  }
  .description-Event{
    line-break: anywhere;
    max-width: 60%;
    padding: 10px;
  }
  .cardEventDetails h4{
    display: inline;
    margin-left: 30px;
  }

  @media only screen and (max-width: 500px) {
    .event-details .cardEventDetails{

        margin-top: 0;
        margin-left: 0;
    }
    .event-details .cardEventDetails{
        width: 95%;
        padding-top: 10%;
        padding-left: 8%;
        margin-bottom: 30px;
        padding-bottom: 10px;
    }
    .event-details .imgSection{
        grid-template-columns: auto;
    }
    .description-Event{
        line-break: anywhere;
        max-width: 90%;
        padding: 10px;
      }
      .cardEventDetails .priceSection{
        position: static;    
    }
    .event-details img{
        max-height: 300px;
        max-width: 300px;
    }
  }