.cardProfile{
    background-color:white;
    /* width: 87%; */
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 5px;
    /* position: relative; */
}
.cardProfile .userSection{
    background-color: rgba(5, 5, 5, 0.889);
    margin-bottom: 10px;
    color: white;
    padding: 5px;
    border-radius: 5px;
    
}
.userSection .icon{
    margin-right: 40px;
}
.cardProfile .box-divs{
    display: grid;
    grid-template-columns: 6fr 10fr;
    min-height: 75vh;
    width: 100%;
    gap: 20px;
}
@media only screen and (max-width: 500px) {
    .cardProfile{
        margin-right: 1%;
        margin-left: 1%;
    }
    .cardProfile .box-divs{
        display:grid;
        grid-template-columns: auto;
        min-height: 75vh;
        width: 100%;
        /* gap: 20px; */
    }
    .listsEvents{
        margin-right: 2%;
        margin-bottom: 45px;

    }

  }
.box-divs .userDetails{
    background-color: rgb(206, 211, 211);
    display: grid;
    grid-template-columns: 4fr 8fr;
    gap: 20px;
    border-style: solid; 
    border-radius: 5px;
    padding: 5px;
    border-color: rgba(79, 78, 78, 0.869);
    margin: 1px 10px 10px 10px;
    
}
.userDetails img{
    width: 200px;
    height: 200px;
}
.userDetails div{
    padding: 40px 0 0 0;
}


.cardProfile .userSection h4{
    display:inline;
    padding: 5px;
}
.listsEvents{
    
    display: grid;
    grid-template-columns: auto;
    width: 95%;
    gap: 10px;
    overflow: auto;
    height: 430px;
    border-style: solid; 
     border-radius: 5px;
     padding: 5px;
     border-color: rgba(79, 78, 78, 0.869);
}
.userDetails span{
    font-size: 19px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #80592b;
}
